@media (max-width: 576px){
	
	/* BODY */
	body {
		background: #4A2812;
		width: 100%;
		color: #EDBC53;
	}
	img{
		width: 100%;
	}
}
@media (min-width: 577px){
body {
	background: #4A2812;
	width: 100%;
}
hr {
	width: 75%;
	height: 2px;
	background-color: #EDBC53;
	margin:auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
}