@media (max-width: 576px){
footer{
    background-color: #EDBC53;
    color: #4A2812;
    text-align: center;
}
}
@media (min-width: 577px){
    footer {
        background-color: #EDBC53;
        width: 100%;
    }
}