@media (max-width: 576px){
footer{
    background-color: $secondaryColor;
    color: $primaryColor;
    text-align: center;
}
}
@media (min-width: 577px){
    footer {
        background-color: $secondaryColor;
        width: 100%;
    }
}