@media (max-width: 576px){
.main__fotoHome{
    width: 100%;
    height: 1080px;
    text-align: center;
    padding-top: 15rem;
    background-image: url("../img/areanaturalprotegida.jpg");
    background-size: cover;
    margin: auto;
}
.main__mensajeBienvenida{
    margin: auto;
    line-height: 500px;
    color: $secondaryColor;
    text-shadow: 0px 0px 10px #000000;
    font-family: Valentine Vibes;
    font-size: 3rem;
}
.main__subtitulo{
    margin: 5vh;
    text-align: center;
    font-size: 4vh;
    font-family: Valentine Vibes;
}
.main__fotoAlquileres{
    display: flex;
}
.main__alquileres{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.main__cabanas1{
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}
.main__cabanas2{
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}
.main__cabanas3{
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}
.main__cabanas4{
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}
.main__textoAlquileres{
    margin: 20px;
}
.main__textoAlquileres1{
    display: flex;
}
.main__alquiler3{
    margin: 0 20px 0 0;
}
.main__alquiler2{
    font-weight: 800;
    font-size: 30px;
}
.main__alquiler4{
    font-weight: 600;
}
.main__fotoAlquileres{
    border-radius: 25px 25px 0 0;
}
.btn-warning{
    background-color: $secondaryColor;
    color: $primaryColor;
    margin: 0 5px;
}
.btn-outline-warning{
    border-color: $secondaryColor;
    color:$secondaryColor;
    margin: 0 5px;
}
/* SERVICIOS */
.main__servicios{
    width: 75%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}
.main__textoServicios{
    padding: 40px;
}
.main__fotoServicios{
    border-radius: 25px 25px 0 0;
}
.main__servicio{
    font-weight: 600;
}
.main__servicioBoton{
    display: none;
}
.main__items{
    text-decoration: none;
    color: $secondaryColor;
}

.main__contacto{
	width: 50%;
	margin: auto;
	padding: 5vh;
}

.main__contactoFondo{
	background-color: $secondaryColor;
	width: 100%;
}

.main__contactoTexto{
	font-size: 5vh;
	color: $primaryColor;
	text-align: center;
	padding: 5vh;
	font-weight: 600;
	white-space: nowrap;
}

.main__redesTexto{
	font-size: 3vh;
	color: $primaryColor;
	text-align: center;
	padding: 5vh;
	font-weight: 600;
	white-space: nowrap;
}

.main__redes{
	width: 50%;
	margin: auto;
	display: flex;
	justify-content: space-around;
}

.main__carousel{
	width: 75%;
	margin: auto;
}
/* TARIFAS */
.main__seccionTarifas{
    background-color: $secondaryColor;
    width: 100%;
    height: 100%;
    .main__subtitulo{
        color: $primaryColor;
        padding: 5vh;
    }
    .main__tarifas{
        text-align: center;
        padding-bottom: 15vh;
        ul{
            color: $primaryColor;
            font-size: 3vh;
            margin: 2vh;
        }
        .main__tarifasTexto{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .main__tarifasTexto2{
            margin-top: 10vh;
        }
    }
}
/* CÓMO LLEGAR */
.main__ubicacion{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-bottom: 5vh;
    .main__ubicacionTexto{
        color: $secondaryColor;
        margin-top: 5vh;
        font-size: large;
    }
}

}
@media (min-width: 577px){
    .main__fotoHome{
        width: 100%;
        height: 75rem;
        text-align: center;
        padding-top: 15rem;
        background-image: url("../img/areanaturalprotegida.jpg");
        background-size: cover;
        .main__mensajeBienvenida{
            font-size: 10vh;
            color: $secondaryColor;
            text-shadow: 0px 0px 10px #000000;
            font-family: Valentine Vibes;
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }
    
    .main__subtitulo{
        text-align: center;
        font-size: 5vh;
        color: $secondaryColor;
        font-family: Valentine Vibes;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .main__items{
        display: flex;
        justify-content:space-between;        
    }
    
    /* CABAÑAS */
    .main__fotoAlquileres{
        width: 75%;
        border-radius: 20px;
        width: 60vh;
    }
    .main__textoAlquileres{
        color: $secondaryColor;
        margin: 6vh;
    }
    .main__alquiler1{
        font-size: 20px;
    }
    .main__alquiler2{
        font-size: 60px;
    }
    .main__alquiler3{
        font-size: 15px;
    }
    .main__alquiler4{
        font-size: 25px;
    }
    .main__textoAlquileres1{
        display: inline-flex;	
    }
    .botones{
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .main__info{
        display:inline-block;
    }
    .main__botonPleno {
        background-color:$secondaryColor;
        border-radius:42px;
        display:inline-block;
        cursor:pointer;
        color:$primaryColor;
        font-size:17px;
        font-weight:bold;
        padding:16px 31px;
        text-decoration:none;
            &:hover{
                background-color:$secondaryColor;
                transition: 0,5s;
            }
            &:active{
                position:relative;
                top:1px;       
            }
    }
    .btn-warning{
        background-color: $secondaryColor;
        color: $primaryColor;
        margin: 0 5px;
            &:hover{
                background-color: #ffffff;
                border-color: #ffffff;                
            }
    }
    .btn-outline-warning{
        border-color: $secondaryColor;
        color:$secondaryColor;
        margin: 0 5px;
            &:hover{
                background-color: #ffffff;
                border-color: #ffffff;
                transition: 0.5s;
            }
    }
    
    /* CABAÑAS GRID */
    .main__alquileres{
        margin: auto;
        display: grid;
        grid-template-columns: 75%;
        justify-content: center
    }
    .main__cabanas1{
        display:flex;
        width: 75%;
        margin-left: 15%;
        margin-right: 15%;
        border: solid 0px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
    }
    .main__cabanas2{
        display:flex;
        width: 75%;
        margin-left: 15%;
        margin-right: 15%;
        border: solid 0px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
    }
    .main__cabanas3{
        display:flex;
        width: 75%;
        margin-left: 15%;
        margin-right: 15%;
        border: solid 0px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
    }
    .main__cabanas4{
        display:flex;
        width: 75%;
        margin-left: 15%;
        margin-right: 15%;
        border: solid 0px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
    }
    
    /* SERVICIOS */
    .main__todoServicios{
        margin: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "main__servicios";
        justify-content: center;
        width: 75%;
    }
    .main__servicios{
        margin: auto;
        display: grid;
        grid-template-columns: 35vh 35vh;
    }
    .main__fotoServicios{
        width: 30vh;
        border-radius: 15px;
    }
    .main__textoServicios{
        color: $secondaryColor;
        width: 50vh;
    }
    .main__servicioTitulo{
        display: flex
    }
    .main__servicio{
        font-size: 40px;
    }
    .main__items{
        text-decoration: none;
        color: $secondaryColor;
    }

    /* TARIFAS */
    .main__seccionTarifas{
        background-color: $secondaryColor;
        width: 100%;
        height: 100%;
        .main__subtitulo{
            color: $primaryColor;
            padding: 5vh;
        }
        .main__tarifas{
            text-align: center;
            padding-bottom: 15vh;
            ul{
                color: $primaryColor;
                font-size: 3vh;
                margin: 2vh;
            }
            .main__tarifasTexto{
                display: flex;
                justify-content: center;
            }
            .main__tarifasTexto2{
                margin-bottom: -2vh;
            }
        }
    }
    /* CÓMO LLEGAR */
    .main__ubicacion{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10vh;
        .main__ubicacionTexto{
            color: $secondaryColor;
            font-size: large;
        }
    }
    /* CALENDARIO */
    .main__calendario{
        display: flex;
        justify-content: center;
        padding: 5vh;
        background-color: $secondaryColor;
    }
}
