* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.card{
	height: 40vh;
}
@import 
    "./partials/_variables.scss",
    "./partials/_body.scss",
    "./partials/_header.scss",
    "./partials/_main.scss",
    "./partials/_footer.scss";

