* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.card{
	height: 40vh;
}
@import    
    "./partials/maps",
    "./partials/variables",
    "./partials/body",
    "./partials/header",
    "./partials/main",
    "./partials/footer";

@font-face{
    font-family: Valentine Vibes;
    src: url(../fonts/valentine\ vibes.ttf);
}

